* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #675AFE
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-color);
    font-family: sans-serif;
}

::selection {
    color: white;
    background-color: var(--main-color);
}

#wrapper {
    width: 22em;
    padding: 2em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 1em 1em 3em rgba(0,0,0, .05);
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

form {
    margin: 2em 0 0 0;

    & :where(input, select, button) {
        width: 100%;
        outline: none;
        border-radius: .5em;
        border: none;
    }

    & p {
        margin-bottom: .5em;
    }

    button {
        height: 3em;
        color: white;
        font-size: 1.1em;
        cursor: pointer;
        background-color: var(--main-color);

        &:hover {
            background-color: #4534fe;
        }
    }

    & input {
        height: 2.8em;
        font-size: 1.1em;
        padding: 0 1em;
        border: .1em solid #999;

        &:focus {
            border: .2em solid var(--main-color);
        }
    }
}

#drop-lists {
    display: flex;
    margin-top: 1.5em;
    align-items: center;
    justify-content: space-between;

    & .select-box {
        display: flex;
        width: 7em;
        height: 3em;
        align-items: center;
        border-radius: .5em;
        justify-content: center;
        border: 0.1em solid #999;
        & img {
            max-width: 1.6em;
        }
        & select {
            width: auto;
            font-size: 1em;
            background: none;
            margin: 0 -.5em 0 .5em;
        }
    }

    & #icon {
        cursor: pointer;
        margin-top: 1.5em;
        font-size: 1.3em;
    }
}

#exchange-rate {
    font-size: 1.3em;
    margin: 1.5em 0;
}